*, *::before, *::after {
  box-sizing: border-box; 
  margin: 0;             
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.product-section{
    width: 887px;
    height: 600px;
    background-color: #fff;
    padding: 16px 8px 16px 8px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(214, 214, 214);
}
.product-info{
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 3fr;
    margin: 16px;
    padding: 16px 8px 16px 8px;
}
.product-text{
    display: inherit;
    gap: 20px;
}

.product-text .title{
    display: inherit;
    gap: 10px;
}

.product-text .product-shoping  {
    background-color:  black;
    width: 112px;
    height: 29px;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    font-weight: 600;
    
}

.product-text h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

.product-price p s{
    font-size: 18px;
    font-weight: 400;
}

.product-price .price{
    font-size: 48px;
    font-weight: 700;
}

.product-price span{
    color: #191847;
    font-size: 14px;
    font-weight: 400;
}

.product-button .product-car{
    background-color: #4788E9;
    width: 442px;
    height: 59px;
    border-radius: 8px;
    padding: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    box-shadow: 0  7px  #1C57EE;
}

.product-stock{
    display: inline-flex;
   align-items: center;
   gap: 10px;
}

.product-stock .stock-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.product-social {
    display: flex;
    gap: 10px;
}
.product-social .button-call{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #C9C9DA;
    width: 213px;
    height: 64px;
    display: inherit;
    align-items: center;
    justify-content: center;
    gap: 20px;
}