
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: #f7f4ff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      html{
       font-family: "Poppins", sans-serif;
      }

      p{
        font-size: 16px;
        font-weight: 400;
        color: #281A51;
      }

      

      .container {
        background-color: #fff;
        padding: 72px;
        width: 640px;
        height: 464px;
        border-radius: 24px;
        position: relative;
        z-index: 10;
        box-shadow: 0 14px 52px #8675b459;
      }

      .form-search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        flex-wrap: wrap;
        gap: 12px;
      }

      .input-wrapper{
        position: relative;
        flex: 1;
            i{
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            color: gray;
            
        }
      }


      .input-wrapper input
         {
            border: 1px solid #DBD5EC;
            padding: 16px 16px 16px 50px;
            border-radius: 4px;
            outline: none;
            width: 100%;
            height: 56px;
         }

         .input-wrapper input::placeholder{
            letter-spacing: 0.3px;
         }

         button{
            background-color: #281A51;
            padding: 16px;
            border-radius: 4px;
            color: #fff;
            display: flex;
            gap: 10px;
             align-items: center;
            justify-items: center;
            font-family: inherit;

         }
         

         .menu{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 16px;
            margin-top: 32px;

            div{
                background-color: #f7f4ff;
                width: 112px;
                height: 108px;
                padding: 24px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;

            }

         }


         .menu div:nth-child(1){background:#FFECEC}
         .menu div:nth-child(2){background:#F7ECFF}
         .menu div:nth-child(3 ){background:#ECF0FF}
         .menu div:nth-child(4){background:#D7F9F3}
         .menu div:nth-child(5){background:#E2FFD4}
         .menu div:nth-child(6){background:#fff;}
         .menu div:nth-child(7){background:#FFF3C9}
         .menu div:nth-child(8){background:#FFD9C9}

         .menu div:nth-child(n-8):hover {
            box-shadow: 0 14px 16px #290B801A;
            transform: translateY(-4px);
            outline: 1px solid #DBD5EC;
            }

        .menu .acvie{
            box-shadow: 0 14px 16px #290B801A;
         outline: 1px solid #DBD5EC;
        }
         
      .cricle {
        position: absolute;
        z-index: -1;
      }
